/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Heebo Font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.searchBox{
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */
    width: 24rem;
    margin: auto;
    margin-top: 10%;
}

#text-area {
    margin-left: 1rem;
    width: 16rem;
    height: 2rem;
    font-size: 1.2rem;
}

#search{
    font-family: 'Roboto', sans-serif;
    border-radius: 2rem;
    border: hidden;
    background-color: green;
    color: white;
    width: 5rem;
    font-size: 1rem;
    height: 2rem;
}

#search:hover{
    cursor: pointer;
}

.box{
    background-color: rgb(199, 211, 241);
    border: 2px solid black;
    width: 18rem;
    height: 25rem;
    margin: auto;
    margin-top: 0.3rem;
    text-align: center;
    padding: 2rem;
    z-index: -1;
    position: relative;
    overflow: hidden;
}



#weather-condition-icon{
    margin: 3rem;
    height: 9rem;
    /* border: 1px solid red; */
}

.info{
    font-family: 'Roboto', sans-serif;
}
.info .location{
    font-family: 'Heebo', sans-serif;
}

.info #date{
    margin-bottom: 1rem;
    color: rgb(49, 49, 49);
    font-size: 0.rem;
}

.info #temp{
    font-family: 'Heebo', sans-serif;
    padding: 0.6rem;
    font-size: 2.5rem;
}

.info #condition{
    text-transform: capitalize;
}

